.currencies-block {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  width: 65%;
}
.volume {
  label {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  input {
    height: 2rem;
    width: 400px;
    background-color: transparent;
    border: 1px solid #0d2f52;
    color: #84c251;
    font-weight: bold;
    padding: 3px;
    font-size: 1rem;
  }
}
.buttons-block {
  width: 20%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.result {
  font-size: 1.7rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1700px) {
  .currencies-block {
    width: 85%;
  }
  .buttons-block {
    width: 30%;
  }
}

@media (max-width: 1300px) {
  .currencies-block {
    width: 110%;
  }
  .buttons-block {
    width: 35%;
  }
}

@media (max-width: 800px) {
  .currencies-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      margin-top: 5px;
    }
  }
  .buttons-block {
    width: 40%;
  }
}
